.card{
    width: 250px;
    margin-left: 20px;
    margin-bottom: 20px;
    margin-right: 0px;
    
}

.page-title{

    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;

}

#addToCart{

    align-content: right;
    margin-top: 10px;

}

#product_desc-img{

    /* vertical-align: middle; */
    margin-top: 70px;
    
}

#product_desc-block{

    margin-top: 70px;
}

